footer {
    display: block;
    background: #141a24;
    width: 100%;
    height: 5rem;
    position: relative;
    bottom: 0;
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

footer .logo p a {
    font-size: 2rem;
}

.media {
    display: flex;
    flex-direction: row;
}

.media ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
}

footer::after, footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: conic-gradient( from var(--angle), #07c8f9ff, #09a6f3ff, #0a85edff, #0c63e7ff, #0d41e1ff, #07c8f9ff);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: var(--animation-duration, 10s) spin linear infinite;
}

footer::before {
    filter: blur(1rem);
    opacity: 0.5;
}

.media ul li a img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}


@media (max-width: 768px) {
    .desktop {
        display: none !important;
    }

    footer {
        height: 7.5rem;
    }

    footer .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 769px) {
    .mobile {
        display: none !important;
    }
}